[submodule "externals/dlib"]
	path = externals/dlib
	url = https://github.com/davisking/dlib.git
[submodule "externals/gflags"]
	path = externals/gflags
	url = https://github.com/gflags/gflags.git
[submodule "uids/test/face_specific_augm"]
	path = uids/test/face_specific_augm
	url = https://github.com/iacopomasi/face_specific_augm.git
[submodule "uids/test/face-frontalization"]
	path = uids/test/face-frontalization
	url = https://github.com/dougsouza/face-frontalization.git
